name: CI Pipeline

on:
  workflow_dispatch:   # this one you run manually

jobs:
  prepare:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # required for OIDC
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: trigger
        uses: ./.github/workflows/docker.yml
        with:
           image_tag: latest

   
