name: artifacts
on: 
   push:
      branches:
        - artifacts

jobs:
  build_artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install dependencies
        run: npm ci
      - name: tests
        run: npm run test
      - name: build
        run: npm run build
      - name: upload_artifacts
        id: artifacts
        uses: actions/upload_artifacts@v4
        with:
          path: dist
