#testing aws connection with my role
name: docker build and push
on:
  workflow_call:
    inputs: 
      image_tag: 
        required: true 
        type: string   # run manually from GitHub Actions tab
    secrets: 
      DOCKERHUB_TOKEN: 
        required: true

jobs:
  test-aws:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download JAR artifacts
        uses: actions/download-artifact@v4 
        with: 
          name: app-jar 
          path: app

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bank_app:latest


