name: build_application
on: 
  push:
    branches:
      - main
jobs:
  Deploy:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
         - name: workflow_trigger
           uses: ./.github/workflows/docker.yml

        
