name: build_application
on: 
  push:
    branches:
      - main
jobs:
  Deploy:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
         - name: SonarCloud Scan 
           uses: SonarSource/sonarcloud-github-action@v2
           env: 
             SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
           with: 
             args: >
               -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} 
               -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} 

        
